<input
    class="form-control"
    id="password"
    type="{{ passwordType }}"
    name="password"
    [(ngModel)]="password"
    #passwordInfo="ngModel"
    placeholder="パスワード"
    required
    maxlength="20"
/>
<div>
    <input
        type="checkbox"
        id="passwordCheck"
        name="password-check"
        [(ngModel)]="passwordFlg"
        (change)="passwordTypeChange()"
    /><span>パスワードを表示する</span>
</div>
<span
    *ngIf="passwordInfo.errors && (passwordInfo.dirty || passwordInfo.touched)"
>
    <span class="text-danger errorMessage " *ngIf="passwordInfo.errors.required"
        >パスワードを入力してください</span
    >
</span>
