<div class="form-inline">
    <div class="form-inline">
        <button class="btn" (click)="debug(valueB)">test</button>
        <!-- ↓ 開始日 -->
        <div class="forn-group">
            <ng2-flatpickr
                [(ngModel)]="valueB"
                [config]="optionsBigining"
                #dateB
                (input)="replace()"
                (input)="replaceMinDate()"
                placeholder="終了日以前を入力してください"
            ></ng2-flatpickr>
        </div>
        ～
        <!-- ↓ 終了日 -->
        <div class="forn-group">
            <ng2-flatpickr
                [(ngModel)]="valueE"
                [config]="optionsEnd"
                #dateE
                (input)="replace()"
                (input)="replaceMaxDate()"
                placeholder="開始日以後を入力してください"
            ></ng2-flatpickr>
        </div>
    </div>
</div>
